
<html>	
	<head>
		<!-- Bootstrap CSS CDN -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<!-- Bootstrap jQuery CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Bootstrap JavaScript CDN -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>


	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				
			</div>
		</div>
	</nav>

		<div class="container-fluid">		
			<h1>Information Hub</h1>
			<h2> Current time is {{ clock_time }} </h2>
		</div>



  	<nav class="navbar navbar-inverse navbar-fixed-bottom">
  		<div class="container">
		</div>
  	</nav>

	</body>

</html>
